---
layout: default
title: 首页
---

<h2>最新文章</h2>
<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">
        {{ post.date | date: "%Y-%m-%d" }}
        {% if post.categories.size > 0 %}
          • 分类: 
          {% for category in post.categories %}
            <a href="{{ '/categories.html' | relative_url }}#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        {% endif %}
      </span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
